helloworld-java-app/target
helloworld-java-app/.classpath
helloworld-java-app/.project
helloworld-java-app/.settings/
helloworld-java-app/*.iml
helloworld-java-app/.idea

# Terraform
**/.terraform
**/terraform.tfstate.backup
**/terraform/*/backend.tf
